.Oval {
	width: 2.4rem;
	height: 2.4rem;
	margin: auto;

	position: relative;
	box-sizing: border-box;

	cursor: pointer;

	$border: 1px;
	color: #fff;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;

	&--dark {
		&__true {
			border: 1px solid $veryDarkerGrayishBlue;
			background: $veryDarkDesaturatedBlue;
		}

		&__false {
			border: 1px solid $veryLightGrayishBlue;
			background: #fff;
		}
	}

	&--check {
		background: $checkBackground;
	}

	&:hover {
		border: none;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -$border;
			border-radius: inherit;
			background: $checkBackground;
		}
	}
}

.XShape {
	cursor: pointer;

	&--dark {
		&__true {
			& path {
				fill: hsla(235, 16%, 43%, 1);
			}
		}

		&__false {
			& path {
				fill: hsla(235, 19%, 35%, 1);
			}
		}
	}

	&:hover {
		& path {
			fill: red;
		}
	}
}
