.Oval {
	width: 2.4rem;
	height: 2.4rem;
	margin: auto;

	position: relative;
	box-sizing: border-box;

	$border: 1px;
	color: #fff;
	background-clip: padding-box;
	border: solid $border transparent;
	border-radius: 50%;

	&--dark {
		&__true {
			border: 1px solid $veryDarkerGrayishBlue;
			background: $veryDarkDesaturatedBlue;
		}

		&__false {
			border: 1px solid $veryLightGrayishBlue;
			background: #fff;
		}
	}

	&:hover {
		border: none;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: -1;
			margin: -$border;
			border-radius: inherit;
			background: linear-gradient(
				hsl(192, 100%, 67%),
				hsl(280, 87%, 65%)
			);
		}
	}
}

.XShape:hover {
	& path {
		fill: red;
	}
}
