.TodoPanel {
	padding: 2rem 2.4rem;
	border-top: 1px solid $veryDarkerGrayishBlue;
	font-size: 1.4rem;

	display: flex;
	justify-content: space-between;

	& p {
		color: hsl(235, 16%, 42%);
	}

	&--displayControls {
		display: flex;

		& p {
			font-weight: bold;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 1.8rem;
			}
		}

		&__blue {
			color: $brightBlue !important;

			&:hover {
				color: lighten($color: $brightBlue, $amount: 10%) !important;
			}
		}

		&__normal {
			&:hover {
				color: $lighterGrayishBlue;
			}
		}
	}

	&--clearCompleted {
		cursor: pointer;

		&:hover {
			color: $lighterGrayishBlue;
		}
	}

	&--light {
		border-top: 1px solid $veryLightGrayishBlue;

		& p {
			color: $darkGrayishBlue;
		}

		& .TodoPanel--displayControls__blue {
			&:hover {
				color: darken($color: $brightBlue, $amount: 10%) !important;
			}
		}

		& .TodoPanel--displayControls__normal {
			&:hover {
				color: $veryDarkGrayishBlue;
			}
		}

		& .TodoPanel--clearCompleted {
			&:hover {
				color: $veryDarkGrayishBlue;
			}
		}
	}
}
