.todoItem {
	&--div {
		height: 6.4rem;
		padding: 2rem 2.4rem;
		position: relative;
		display: flex;
		align-items: center;
	}

	&:hover &--XShape {
		transform: translateX(0);
		opacity: 1;
	}

	&--dark {
		&__true {
			&:not(:last-child) {
				border-bottom: 1px solid $veryDarkerGrayishBlue;
			}
		}

		&__false {
			&:not(:last-child) {
				border-bottom: 1px solid $veryLightGrayishBlue;
			}
		}
	}

	&--text {
		font-family: $family;
		font-style: normal;
		font-weight: normal;
		font-size: 1.8rem;
		line-height: 1.8rem;
		letter-spacing: -0.25px;

		&--dark {
			&__true {
				color: $lightGrayishBlue;
			}

			&__false {
				color: $veryDarkGrayishBlue;
			}
		}
	}

	&--Oval {
		margin-right: 2.4rem;
		z-index: 0;
	}

	&--XShape {
		margin-left: auto;
		transform: translateX(4rem);
		opacity: 0;
		transition: all 0.3s;
	}
}
