.TodoPanel {
	padding: 2rem 2.4rem;
	border-top: 1px solid $veryDarkerGrayishBlue;
	font-size: 1.4rem;

	display: flex;
	justify-content: space-between;

	@include respond(mobile) {
		font-size: 1.2rem;
	}

	& p {
		color: hsl(235, 16%, 42%);
	}

	&--displayControls {
		display: flex;

		@include respond(mobile) {
			display: none;
		}

		& p {
			font-weight: bold;
			cursor: pointer;

			&:not(:last-child) {
				margin-right: 1.8rem;
			}
		}

		&__blue {
			color: $brightBlue !important;

			&:hover {
				color: lighten($color: $brightBlue, $amount: 10%) !important;
			}
		}

		&__normal {
			&:hover {
				color: $lighterGrayishBlue;
			}
		}

		&__aux {
			&--container {
				display: none;
				height: 4.8rem;
				margin-top: 1.6rem;
				padding: 1.5rem 8rem;
				font-size: 1.4rem;
				border-radius: 5px;

				&--dark {
					&__true {
						background: $veryDarkDesaturatedBlue;
						box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
					}

					&__false {
						background: #fff;
						box-shadow: 0px 3.5rem 5rem -1.5rem rgba(194, 195, 214, 0.5);
					}
				}

				@include respond(mobile) {
					display: block;
				}
			}

			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&--clearCompleted {
		cursor: pointer;

		&:hover {
			color: $lighterGrayishBlue;
		}
	}

	&--light {
		border-top: 1px solid $veryLightGrayishBlue;

		& p {
			color: $darkGrayishBlue;
		}

		& .TodoPanel--displayControls__blue {
			&:hover {
				color: darken($color: $brightBlue, $amount: 10%) !important;
			}
		}

		& .TodoPanel--displayControls__normal {
			&:hover {
				color: $veryDarkGrayishBlue;
			}
		}

		& .TodoPanel--clearCompleted {
			&:hover {
				color: $veryDarkGrayishBlue;
			}
		}
	}
}
