.Todo {
	padding-top: 7rem;

	&--top {
		display: flex;
		justify-content: space-between;
	}

	&--bottom {
		margin-top: 5rem;
		display: flex;
		justify-content: center;

		&--text {
			font-size: 1.4rem;
			line-height: 1.4rem;
			color: hsl(235, 16%, 43%);

			&__light {
				color: hsl(235, 9%, 61%);
			}

			&__invisible {
				opacity: 0;
			}
		}
	}
}
