.background {
	height: 100vh;
	max-width: $desktop;
	margin: 0 auto;
	position: relative;

	&--dark {
		&__true {
			background-color: $veryDarkBlue;
			color: $lightGrayishBlue;
		}

		&__false {
			background-color: $veryLightGray;
			color: $veryDarkGrayishBlue;
		}
	}

	&--head {
		height: 30rem;
		background-size: cover;
		background-position: top;

		@include respond(mobile) {
			height: 20rem;
		}

		&--dark {
			&__true {
				background-image: url("../images/bg-desktop-dark.jpg");

				@include respond(mobile) {
					background-image: url("../images/bg-mobile-dark.jpg");
				}
			}

			&__false {
				background-image: url("../images/bg-desktop-light.jpg");
				@include respond(mobile) {
					background-image: url("../images/bg-mobile-light.jpg");
				}
			}
		}
	}

	&--app-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&__main {
			width: 54rem;
			margin: 0 auto;

			@include respond(mobile) {
				width: 100%;
				padding: 0 2.4rem;
			}
		}
	}
}

.attribution {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1rem;
	font-size: 1.1rem;

	& a {
		&:visited,
		&:link {
			color: hsl(228, 45%, 44%);
			display: inline-block;
			transition: all 0.2s;
		}

		&:hover,
		&:active {
			color: green;
			transform: scale(1.2) translateY(-0.5rem);
		}
	}
}
