.background {
	height: 100vh;
	max-width: $desktop;
	margin: 0 auto;
	position: relative;

	&--dark {
		&__true {
			background-color: $veryDarkBlue;
			color: $lightGrayishBlue;
		}

		&__false {
			background-color: $veryLightGray;
			color: $veryDarkGrayishBlue;
		}
	}

	&--head {
		height: 37vh;
		background-size: cover;
		background-position: center;

		&--dark {
			&__true {
				background-image: url("../images/bg-desktop-dark.jpg");
			}

			&__false {
				background-image: url("../images/bg-desktop-light.jpg");
			}
		}
	}

	&--app-holder {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
